body{
  background-image: url('img/wyI6X0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  background-position: left;
}
.navbar{
  margin-top: 20px;
}

.outer{
  margin: auto;
  padding-top: 80px;
  padding-left: 70px;
  margin-top: 150px;
  border-radius: 25px;
  width: 20%;
  height: 350px;
  background-color: #a1b3c31a;
}

h1{
  color: aliceblue;
  font-family:'Nunito', sans-serif;
}
#span{
  color: rgb(172, 177, 181);
  font-family:'Nunito', sans-serif;
}
#email{
  background-color: transparent;
  border-color: transparent;
  color: aliceblue;
  width: 75%;
  border-radius: 7px;
  height: 30px;
  outline: none;
  font-size: large;
  font-family:'Nunito', sans-serif;

}
#pass{
  background-color: transparent;
  border-color: transparent;
  color: aliceblue;
  width: 75%;
  border-radius: 7px;
  height: 30px;
  outline: none;
  font-size: large;
  font-family:'Nunito', sans-serif;

}
#logo{
  padding-top: 9px;
  padding-right: 5px;
  padding-left: 14px;
  position:relative
}
.icoemail{
  border: 1px solid #50606e;
  width:70%;
  border-radius: 5px;
}
.passico{
  margin-top: 25px;
  border: 1px solid #50606e;
  width:70%;
  border-radius: 5px;
}
#logo1{
  padding-top: 9px;
  padding-right: 5px;
  padding-left: 14px;
  position: relative;
}

.btn{
  background-color: #f1473ae0;
  color: #bfd7ed;
  border: 1px solid #f1473ae0;
  border-radius: 13px;
  margin-top: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  width: 70%;
}
#error{
  color:#f1473ae0 ;
}
#error1{
  color:#07d812ec ;
}
#error2{
  color:#f1473ae0 ;
}
@media screen and (max-width: 1400px) {
  .icoemail{
    border: 1px solid #50606e;
    width:90%;
    border-radius: 5px;
  }
  .passico{
    margin-top: 25px;
    border: 1px solid #50606e;
    width:90%;
    border-radius: 5px;
  }
  .outer{
    margin: auto;
    padding-top: 80px;
    padding-left: 40px;
    margin-top: 150px;
    border-radius: 25px;
    width: 30%;
    height: 390px;
    background-color: #a1b3c31a;
  }
  .btn{
    background-color: #f1473ae0;
    color: #bfd7ed;
    border: 1px solid #f1473ae0;
    border-radius: 13px;
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    width: 90%;
  }
}
@media screen and (max-width: 1090px) {
  .icoemail{
    border: 1px solid #50606e;
    width:90%;
    border-radius: 5px;
  }
  .passico{
    margin-top: 25px;
    border: 1px solid #50606e;
    width:90%;
    border-radius: 5px;
  }
  .outer{
    margin: auto;
    padding-top: 80px;
    padding-left: 30px;
    margin-top: 150px;
    border-radius: 25px;
    width: 40%;
    height: 390px;
    background-color: #a1b3c31a;
  }

}
@media screen and (max-width: 726px) {
  .icoemail{
    border: 1px solid #50606e;
    width:90%;
    border-radius: 5px;
  }
  .passico{
    margin-top: 25px;
    border: 1px solid #50606e;
    width:90%;
    border-radius: 5px;
  }
  .outer{
    margin: auto;
    padding-top: 80px;
    padding-left: 30px;
    margin-top: 150px;
    border-radius: 25px;
    width: 50%;
    height: 390px;
    background-color: #a1b3c31a;
  }

}
@media screen and (max-width: 436px) {
  .icoemail{
    border: 1px solid #50606e;
    width:90%;
    border-radius: 5px;
  }
  .passico{
    margin-top: 25px;
    border: 1px solid #50606e;
    width:90%;
    border-radius: 5px;
  }
  .outer{
    margin: auto;
    padding-top: 80px;
    padding-left: 30px;
    margin-top: 150px;
    border-radius: 25px;
    width: 60%;
    height: 390px;
    background-color: #a1b3c31a;
  }

}
@media screen and (max-width: 396px) {
  .icoemail{
    border: 1px solid #50606e;
    width:90%;
    border-radius: 5px;
  }
  .passico{
    margin-top: 25px;
    border: 1px solid #50606e;
    width:90%;
    border-radius: 5px;
  }
  .outer{
    margin: auto;
    padding-top: 80px;
    padding-left: 30px;
    margin-top: 150px;
    border-radius: 25px;
    width: 70%;
    height: 390px;
    background-color: #a1b3c31a;
  }
}
@media screen and (max-width: 311px) {
  .icoemail{
    border: 1px solid #50606e;
    width:90%;
    border-radius: 5px;
  }
  .passico{
    margin-top: 25px;
    border: 1px solid #50606e;
    width:90%;
    border-radius: 5px;
  }
  .outer{
    margin: auto;
    padding-top: 80px;
    padding-left: 30px;
    margin-top: 150px;
    border-radius: 25px;
    width: 80%;
    height: 390px;
    background-color: #a1b3c31a;
  }
}
