body{
  background-image: url('img/wyI6X0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  background-position: left;
}

.outer{
  margin: auto;
  padding-left: 40px;
  margin-top: 150px;
  border: 2px solid black;
  width: 30%;
  height: 500px;
}
h1{
  color: aliceblue;
  font-family:'Nunito', sans-serif;
}
#span{
  color: rgb(172, 177, 181);
  font-family:'Nunito', sans-serif;
}
#email{
  /* margin-top: 22px; */
  background-color: transparent;
  border-color: transparent;
  color: aliceblue;
  width: 80%;
  border-radius: 7px;
  /* padding-left: 29px; */
  height: 30px;
  outline: none;
  font-size: large;
  font-family:'Nunito', sans-serif;

}
#pass{
  /* margin-top: 22px; */
  background-color: transparent;
  border-color: transparent;
  color: aliceblue;
  width: 75%;
  /* border: 1px solid #50606e; */
  border-radius: 7px;
  height: 30px;
  outline: none;
  font-size: large;
  /* padding-left: 29px; */

}
#logo{
  padding-top: 9px;
  padding-right: 5px;
  padding-left: 14px;
  position:relative
}
.icoemail{
  border: 1px solid #50606e;
  width:50%;
  border-radius: 5px;
}
.passico{
  margin-top: 25px;
  border: 1px solid #50606e;
  width:50%;
  border-radius: 5px;
}
#logo1{
  padding-top: 9px;
  padding-right: 5px;
  padding-left: 14px;
  position: relative;
}
