body{
  background-image: url('img/wyI6X0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.outer{
  margin: auto;
  padding-left: 40px;
  margin-top: 150px;
  border: 2px solid black;
  width: 30%;
  height: 500px;
}
h1{
  color: aliceblue;
  font-family:'Nunito', sans-serif;
}
#span{
  color: rgb(172, 177, 181);
  font-family:'Nunito', sans-serif;
}
#email{
  /* margin-top: 22px; */
  background-color: transparent;
  border-color: transparent;
  color: aliceblue;
  width: 85%;
  border-radius: 5px;
  padding-left: 29px;
  height: 30px;
  outline: none;
  font-size: large;
  font-family:'Nunito', sans-serif;

}
#pass{
  margin-top: 22px;
  background-color: transparent;
  border-color: transparent;
  color: aliceblue;
  width: 45%;
  border: 1px solid #50606e;
  border-radius: 5px;
  height: 30px;
  outline: none;
  font-size: large;

}
#logo{
  padding-top: 9px;
  padding-right: 5px;
  padding-left: 5px;
  position: fixed;
}
.icoemail{
  border: 1px solid #50606e;
  width:45%;
  border-radius: 5px;
}

